<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">

	<event name="customer_register_success">
		<observer name="customer_login_observer" instance="Altitude\SX\Observer\CustomerRegister" />
	</event>
	    <event name="sales_order_invoice_save_after">
        <observer name="belvg_verpage_controller_front_send_response_before" instance="Altitude\SX\Model\GWCart"  />
    </event>
    <event name="checkout_submit_all_after123">
        <observer name="belvg_verpage_controller_front_send_response_before2" instance="Altitude\SX\Model\GWCartOrder"  />
    </event>
     <event name="checkout_onepage_controller_success_action">
        <observer name="belvg_verpage_controller_front_send_response_before3" instance="Altitude\SX\Model\GWCartOrder"  />
         <observer name="gw_multorder_checkout_onepage_controller_success_action" instance="Altitude\SX\Observer\SuccessSX"  />
    </event>
	<event name="sales_order_place_before">
        <observer name="gw_checkfordupepo" instance="Altitude\SX\Model\POCheck"  />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="gw_shipping_upcharge" instance="Altitude\SX\Observer\AddFeeToOrderObserver" />
        <observer name="save_order_instructions_to_order" instance="Altitude\SX\Observer\SaveToOrder" />
		<!-- <observer name="gw_authorized_amount" instance="Altitude\SX\Observer\AddFeeToOrderObserver" /> -->
    </event>
    <event name="sales_quote_load_after">
        <observer name="save_order_instructions_to_quote" instance="Altitude\SX\Observer\SaveToQuote" />
    </event>
    <event name="sales_quote_address_collect_totals_before">
        <observer name="save_after_quote_Address" instance="Altitude\SX\Observer\TotalsAfterEvent" />
    </event>
	<event name="sales_order_invoice_save_after123">
		<observer instance="Altitude\SX\Observer\Sales\OrderInvoiceSaveAfter" name="greywolfsystems_sxpayments_observer_sales_orderinvoicesaveafter_sales_order_invoice_save_after"/>
	</event>

    <event name="payment_method_is_active">
        <observer instance="Altitude\SX\Observer\Payment\MethodIsActive" name="greywolfsystems_sxhidepayment_observer_payment_methodisactive_payment_method_is_active"/>
    </event>
	    <event name="catalog_product_get_final_price">
        <observer name="belvg_verpage_controller_front_send_response_before1" instance="Altitude\SX\Model\GetSXPrice"  />
    </event>
	<event name="catalog_product_collection_load_after">
		<observer name="belvg_verpage_controller_front_send_response_before6" instance="Altitude\SX\Model\GetSXPrice"  />
	</event>
    <event name="catalog_product_load_after">
        <observer name="altitude_catalog_product_load_after" instance="Altitude\SX\Model\GetLocalPriceDiscount"  />
    </event>
    <event name="customer_login">
        <observer name="gw_customer_login_observer" instance="Altitude\SX\Observer\CustomerLogin" />
    </event>


</config>
