<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="greywolfsystems" translate="label" sortOrder="10">
            <label>Altitude</label>
        </tab>
        <section id="connectivity" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Connectivity</label>
            <tab>greywolfsystems</tab>
            <resource>Altitude_SX::config</resource>
            <group id="webservices" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Web Services</label>
                <field id="apikey" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment>This is the Web Service Key set up in My Account.</comment>
                </field>

                <field id="apiurl" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Web Services URL</label>
                 </field>
                 <field id="gwcustno" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Grey Wolf Customer Number</label>
                    <comment>This is Grey Wolf customer number, used to connect reporting in My Account.</comment>
                 </field>
            </group>
            <group id="maxrecall" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>MaxRecall</label>
                <field id="maxrecall" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Base URL:</label>
                    <comment>This is the MaxRecal URL, similar to "http://webdocs.example.com/"</comment>
                 </field>
                <field id="maxrecalluid" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Username:</label>
                    <comment>MaxRecall username</comment>
                 </field>
                <field id="maxrecallpwd" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Password:</label>
                    <comment>MaxRecall password</comment>
                </field>
            </group>
        </section>
        <section id="defaults" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>greywolfsystems</tab>
            <label>Defaults</label>
            <resource>Altitude_SX::config</resource>
            <group id="gwcustomer" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customer</label>
                <field id="cono" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Number</label>
                    <comment>This the the company number/cono from SX</comment>
                </field>
                <field id="erpcustomerid" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Number</label>
                    <comment>This is the default customer number used for things that aren't specific to a customer. Pricing for users who aren't logged in, orders for customers who aren't in SX(if settings allow that), etc.</comment>
                </field>
                <field id="whse" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Warehouse</label>
                    <comment>Warehouse/Location ID. This is the default, similar to the customer number. It's used for pricing and for the main inventory availability number. Can be overridden by customer on the customer screen.</comment>
                </field>
                <field id="shipviaty" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ship Via</label>
                    <comment>This is the ship via that is used by default, if another shipvia isn't configured on the customer, or with the other Magento shipping methods.</comment>
                </field>
                <field id="flatshipvia" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ship Via for Flat Rate</label>
                    <comment>This is the ship via sent for flat rate shipping. It maps the shipping method here to a valid ship via in SX. If blank, "Flat Rate" will send a blank ship via to SX.</comment>
                </field>
                <field id="createcustomer" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Create Customer on Registration</label>
                    <comment>If "yes", Altitude will create a customer in SX when a new customer registers. If no, Altitude will use the default customer number.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="defaultcurrency" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Currency</label>
                    <comment>If this is set, Altitude will check arsc for a currencyty field. If that is blank, this is the displayed currency.</comment>
                </field>
                <field id="shipto2erp" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import New ShipTo Into SX</label>
                    <comment>When a shipto is created or updated in Altitude, it will be passed to SX as a new or updated shipto.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="multisxorders" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allow Multiple SX Orders per Altitude Order?</label>
                    <comment>This will split the Magento order into multiple orders based on warehouse availability.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shipping_per_wh" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Calculate Shipping Cost from Each Warehouse?</label>
                    <comment>Gets shipping rates from each warehouse using the configured shipping methods.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_address_import" translate="label" type="select" sortOrder="99" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Disable Import Address From SX?</label>
                    <comment>Deprecated.  Duplicated Import all customer shiptos functionality.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="importshipto" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Import All Customer ShipTos At Login</label>
                    <comment>If YES, will import shiptos from SX when a customer logs in.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="address_to_erp" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Customer Address to SX?</label>
                    <comment>If YES, will update SX shiptos when a customer creates or edits a shipto in Magento.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allow_edit_address" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allow Customer to Edit Address?</label>
                    <comment>This disables the ability for a customer to edit their address, from either My Account or during checkout. They are required to use existing addresses in the address book. If this is selected, address import should be turned on.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shipping_notice" translate="label" type="textarea" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shipping Notice</label>
                    <comment>This adds additional text abot the shipto during checkout.</comment>
                </field>
            </group>
            <group id="shoppingcart" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shopping Cart</label>
                <field id="transtype" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Type</label>
                    <comment>The is the SX transaction type. QU or SO</comment>
                 </field>
                <field id="defaultterms" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Terms</label>
                    <comment>The are the terms that are use in an order if the Magento payment method isn't configured for SX.</comment>
                 </field>
                <field id="slsrepin" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sale Rep In</label>
                    <comment>This will be entered in the slsrepin field in SX.</comment>
                </field>
                <field id="slsrepout" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sales Rep Out</label>
                    <comment>This will be entered in the ARSS slsrepout field in SX.</comment>
                </field>
                <field id="takenby" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Taken By</label>
                    <comment>This will be entered in the takenby field in SX.</comment>
                </field>
                <field id="taxtakenby" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tax Calculation Taken By</label>
                    <comment>This will be entered in the takenby field in SX for tax calculation purposes only.</comment>
                </field>
                <field id="operinit" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Operator</label>
                    <comment>This will be entered in the operinit field wherever it's required by SX. It is used during order insert.</comment>
                </field>
                <field id="sendtoerpinv" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Order To SX On Invoice</label>
                    <comment>If "yes", the order is only sent to SX, when the Magento invoice is created. By default, that's a manual process. If "no", will send before the Magento invoice is created.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hidepmt" translate="label" type="text" sortOrder="27" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Hide payment for terms</label>
                    <comment>This connects Magento payment methods to SX terms. Comma-separated. TermsType:PaymentMethodTitle, for example: cash:n30,cod:credit card</comment>
                </field>
                <field id="blockpofordefault" translate="label" type="select" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block PO for Default</label>
                    <comment>If "yes", the purchase order payment method is unavailable to users with the default customer number.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="autoinvoice" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Automatically Create Invoices</label>
                    <comment>If this is set to yes, the order will automatically be converted to an invoice in Magento.</comment>
                     <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="holdifover" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hold If Over Dollar Amount</label>
                    <comment>Numeric. Place order on hold if over this value.</comment>
                </field>
                <field id="emptyallnoninvoice" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clear All of The Non-Invoices Before Add Invoice To Cart?</label>
                    <comment>When selected, the cart will be emptied when an invoice is selected to be paid. This allows customers to easily pay just the invoice.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="taxfromquote" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Get tax from quote</label>
                    <comment>Create and delete a quote to get the SX-calculated tax amount.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="payment_message" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Payment Message</label>
                    <comment>This message displays in the payment section of checkout and emails.</comment>
                </field>
                 <field id="show_order_instructions" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show order instructions in checkout?</label>
                    <comment>If set to 'Yes', an order instructions field will appear on the shipping screen. This gets sent to SX as an order note.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="misc" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Misc</label>
                <field id="updateqty" translate="label" type="select" sortOrder="1" showInDefault="0" showInWebsite="1" showInStore="1">
                    <label>Update Qty?</label>
                    <comment></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="alertemail" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Alert Email</label>
                    <comment>Comma-separated list of email addresses to send Altitude alerts</comment>
                </field>
                <field id="debugenabled" translate="label" type="select" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled Debug?</label>
                    <comment>This controls how much is logged by Altitude functions.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="apiprofiler" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled API Profiler?</label>
                    <comment>This will log API execution data.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="potermscode" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Terms Code for PO</label>
                    <comment>Which terms code to use for Purchase Order at checkout? This code will get pass to SX if the customer pays with a PO.</comment>
                </field>
                <field id="forceuniquepo" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Force unique POs?</label>
                    <comment>If the PO is duplicated in SX for the customer, the order will be halted.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="orderaspo" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Magento order to SX as PO?</label>
                    <comment>If no, will use customer-entered PO as the purchase order number in SX.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="addonno" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Addon Number for Freight</label>
                    <comment>Enter the Addon number to use for inserting freight charges.</comment>
                </field>
                 <field id="shipbystage" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Change ship status is Altitude based on stage instead of package?</label>
                    <comment>If yes, ships in Altitude based on order stage. If no, ships based on package status.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="onlycheckproduct" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Only check pricing at product level?</label>
                    <comment>This skips the pricing API call on category, home, and search pages, which improves performance.</comment>
                      <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="listorbase" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Price cache type</label>
                    <comment>Will use this field to update price nightly. Use actual fieldname ("listprice", "baseprice", etc) or leave blank to turn off</comment>
                </field>
            </group>

            <group id="orderemail" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Order Confirmation Email</label>
                <field id="shipping_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shipping Text</label>
                    <comment>Shipping Line Replacement Text. This will replace standard text in checkout and order emails.</comment>
                </field>
                <field id="tax_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tax Text</label>
                    <comment>Tax Line Replacement Text. This will replace standard text in checkout and order emails.</comment>
                </field>
                <field id="shipping_tax_text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shipping &amp; Tax Text</label>
                    <comment>Shipping &amp; Tax Line Replacement Text. This will replace standard text in checkout and order emails.</comment>
                </field>
            </group>


            <group id="display" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display</label>
                <field id="invstartdate" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invoice Inquiry Start Date in Altitude's My Account</label>
                    <comment>Starting date for invoice/order/quote display</comment>
                </field>
                <field id="hidenegativeinvoice" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Negative Invoices in Altitude's My Account</label>
                    <comment></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="simplifyinvoice" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Simplify Invoice Display in Altitude's My Account</label>
                    <comment></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>


            <group id="authorized_amount" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Authorized Amount</label>
                <field id="authorized_amount" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Authorized Amount</label>
                    <comment>This amount will be authorized above the amount of the actual order.  When the order is shipped, the amount will be settled to match the actual order. Flat amount or Percentage. (x.xx or xx%)</comment>
                </field>
            </group>

            <group id="products" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Products</label>
                <field id="whselist" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Warehouse list for availability</label>
                    <comment>Used to display availability for multiple warehouses. Comma-separated list of warehouse to display availability.  (ex. 10,20,30) Leave blank to display all warehouses.</comment>
                </field>
                <field id="whsename" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use warehouse name for availability?</label>
                    <comment>If "yes", will display the warehousename instead of the warehouse code.</comment>
                      <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="hideqtyavai" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Qty Available if not logged in?</label>
                    <comment>If "yes", only logged-in users can see availablity.</comment>
                     <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="check_aval_qty" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Hide Exact Quantity</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="low_qty_amt" translate="label comment" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Low Quantity Amount</label>
                    <depends>
                        <field id="check_aval_qty">1</field>
                    </depends>
                </field>
                <field id="low_qty_msg" translate="label comment" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Low Quantity Message</label>
                    <depends>
                        <field id="check_aval_qty">1</field>
                    </depends>
                </field>
                <field id="zero_qty_msg" translate="label comment" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Zero Quantity Message</label>
                    <depends>
                        <field id="check_aval_qty">1</field>
                    </depends>
                </field>
                <field id="full_qty_msg" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Full Quantity Message</label>
                    <depends>
                        <field id="check_aval_qty">1</field>
                    </depends>
                </field>
                <field id="local_price_only" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dynamic Pricing Type</label>
                    <comment>Selecting "SX" will attempt to get the live and dynamic price from SX. "Magento" means using just the price stored in Magento. "Hybrid" uses the Magento price if the SX price is not available.</comment>
                    <source_model>Altitude\SX\Model\Config\Source\Localprice</source_model>
                </field>
            </group>






        </section>


		<section id="payments" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="190" translate="label">
			<label>Payments</label>
            <tab>greywolfsystems</tab>
			<resource>Altitude_SX::config</resource>
			<group id="payments" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="190" translate="label">
				<label>Payments</label>
				<field id="processor" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Processor</label>
					<comment>Select third party processor. The included Authorize.net module is less robust than the separately installed version.</comment>
					<source_model>Altitude\SX\Model\Config\Source\Processor</source_model>
				</field>
			</group>
			<group id="rapidconnect" showInDefault="0" showInStore="0" showInWebsite="0" sortOrder="191" translate="label">
				<label>Rapid Connect</label>

				<field id="rctppid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Project ID</label>
					<comment/>
				</field>
				<field id="rcgroupid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="15" translate="label" type="text">
					<label>Group ID</label>
					<comment/>
				</field>
				<field id="rcmerchantid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Merchant ID</label>
					<comment/>
				</field>
				<field id="rctid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="25" translate="label" type="text">
					<label>TID</label>
					<comment/>
				</field>
				<field id="rddid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
					<label>DID</label>
					<comment/>
				</field>
				<field id="rdurl" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="35" translate="label" type="text">
					<label>URL</label>
					<comment/>
				</field>
			</group>
		</section>


		<section id="shipping_upcharge" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Shipping and Inventory</label>
            <tab>greywolfsystems</tab>
            <resource>Altitude_SX::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Altitude Shipping Upcharge</label>
                <field id="upcharge_label" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Upcharge Label</label>
                    <comment>When using a shipping upcharge, this is the label that is displayed during checkout and on the emails about the order.</comment>
                </field>
                <field id="shipping_methods" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Shipping Methods</label>
                    <frontend_model>Altitude\SX\Block\Adminhtml\System\Form\Field\ShippingUpcharge</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>This is a list of the Magento shipping methods that will get the upcharge applied.</comment>
                </field>
                <field id="payment_method" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Payment Method</label>
                    <comment>This is the payment method that will trigger an upsell.  If selected, only a combination of the shipping methods above and this payment method will cause the upsell. For example UPS Ground and Credit Card.</comment>
                </field>
                <field id="upcharge_percent" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Before Tax Upcharge Percent</label>
                    <comment>This is the percentage of the pre-tax order amount that will be used as the upcharge amount.</comment>
                </field>
                <field id="waive_amount" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Amount To Waive</label>
                    <comment>If the order is at least this amount, the upcharge will be waived.</comment>
                </field>
            </group>
            <group id="inventory_availabilities" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Inventory Availability</label>
                <field id="is_dis_inventory_availability" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Display Inventory Availability</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="inventory_availability" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Provinces And Warehouses</label>
                    <depends>
                        <field id="is_dis_inventory_availability">1</field>
                    </depends>
                    <frontend_model>Altitude\SX\Block\Adminhtml\System\Form\Field\InventoryAvailabilities</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="shipping_msg" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Shipping Message</label>
                    <depends>
                        <field id="is_dis_inventory_availability">1</field>
                    </depends>
                </field>
            </group>
        </section>

		<section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="customershipping" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Altitude Dynamic Shipping Method</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                     <comment>Turn on this shipping method. Will select the best shipping method based on customer location.</comment>
                </field>
                <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Method Name</label>
                    <comment>This is the name displayed during checkout for this shipping method.</comment>
                </field>
                <field id="price" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="handling_type" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Calculate Handling Fee</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
                </field>
                <field id="handling_fee" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Handling Fee</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>shipping-skip-hide</frontend_class>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Displayed Error Message</label>
                </field>
            </group>
        </section>


    </system>
</config>
